*{
    font-family: 'Nunito', sans-serif;
}

html{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    height: 99%;
}

div {
    display: block;
}

.input {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(25, 193, 255);
    border-radius: 50px;
    padding: 5px 15px;
    font-style: italic;
    transition-duration: 0.4s;
}

.input:focus{
    outline: none;
    box-shadow: 0px 0px 16px 1px rgb(25, 193, 255);
    border: none;
}

/* .input:hover{
    box-shadow: 0px 0px 16px 1px rgb(25, 193, 255);
    border: none;
} */

.button {
    color: rgb(25, 193, 255);
    display: inline-block;
    height: 48px;
    width: 48px;
    line-height: 48px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16px 1px rgb(25, 193, 255);
}

.item {
    display: inline-block;
}

.fullw {
    width: 100%;
}

.navButtonsWrapper {
    width: 128px;
}

.linkWrapper {
    width: calc(100% - 200px);
}

.wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    height: 48px;
    display: block;
}
.webview{
    display: block;
    background-color: rgb(250, 250, 250);
    height: calc(100% - 68px);
}

.container{
    height: calc(100%);
}
